@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300&family=Luxurious+Roman&family=Playfair+Display:ital@1&family=Rock+Salt&display=swap');
:root {--heading-font: "Rock Salt", "Atma", sans-serif;
--paragraph-font: "Playfair Display", "Luxurious Roman", sans-serif;}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
  nav a { text-align: center;
    color:#63b4d1 ;
text-decoration: none;
padding: 35px;}
  #hero-msg h1 {text-align: center;}
  #hero-msg h4 {text-align: center;}
.button-box {text-align: center;}
main section {text-align: center;}
#background {height: 725px;
background-color: #63b4d1;}
body {background-color: #74fbf7;
font-family:var(--heading-font); font-size: 22px; margin: 0; padding: 0;}
header {background-color: #adfcf9;}
nav a:hover {background-color: #74fbf7;
color:#74fbf7;}
.book {font-family:var(--heading-font); font-size: 18px; background-color: #5fb0b7;
color: #adfcf9;
text-decoration: none;
padding: 15px 30px;
margin-top: 50px;
border-radius: 5px;} 
.join {font-family:var(--heading-font);font-size: 18px; color:#5fb0b7;
color: #adfcf9;
text-decoration: none;
padding: 15px 30px;
margin-top: 50px;
border-radius: 5px;} 
.book:hover {background-color: #63b4d1;
color: #adfcf9;}
.join:hover {background-color: #63b4d1;
color: #adfcf9;}
.msg {background-color: #5fb0b7;
line-height: 1.5em; padding: 35px}
footer {background-color: #5fb0b7;
color: #adfcf9; margin-top: 50px;}
.home-title {
  font-family:var(--heading-font);
  font-size: 2ex; color:black;margin-top: 10px;}
h4 {color: #adfcf9}
.msg h2 {color: #adfcf9; margin: 0;}
.msg p {font-family: var(--heading-font); 
  font-size: .8ex; color: #adfcf9;
padding-bottom: 15px;}
footer a {color: #adfcf9;
text-decoration: none;
padding: 25px 50px;}
footer .social img {padding-top: 15px;}
footer a:hover {color: #63b4d1;}
.icon {width: 80px;
padding-top: 15px}
.logo {width: 80px}
#hero-img {width: 100%}
footer p {font-size: 1.2em;}
footer p a:hover {text-decoration: underline;}
#logo_link {padding-top:5px}
.rivers-card {margin: 200px 0;}
.camping-card {margin: 200px 0;}
.rapids-card {margin: 200px 0;}
.card-img {border: 10px solid#63b4d1}
main section img{box-sizing: border-box;}